/* Style Navbar Mobile*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,700;0,800;1,500&display=swap");
.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.toggle-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 1rem;
  left: 1rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  width: 100%;
  height: 3px;
  background-color: #333;
  border-radius: 10px;
}

.brand-title {
  margin: 0.5rem;
  margin-left: 3.5rem;
  font-size: 28px;
  font-weight: 800;
  color: #333;
}

.navbar-links {
  opacity: 0;
  display: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all ease-in-out 700ms;
  transition: all ease-in-out 700ms;
}

.navbar-links ul {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style-type: none;
  width: 100%;
  margin: 0;
  padding: 0;
}

.navbar-links li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.navbar-links li:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

.navbar-links li a {
  padding: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  text-decoration: none;
  color: #333;
  font-size: 1rem;
}

.navbar-links li a:hover {
  color: #fff;
}

@media (min-width: 800px) {
  /* Style Navbar Desktop */
  .navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 100px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 100%;
  }
  .brand-title {
    margin: 0.5rem;
    margin-left: 4.5rem;
  }
  .toggle-button {
    display: none;
  }
  .navbar-links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    opacity: 1;
  }
  .navbar-links ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
    min-width: 796px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .navbar-links ul li a {
    font-size: 1.15rem;
    padding: 6px 30px;
  }
  .navbar-links ul li a:hover {
    color: rgba(3, 3, 3, 0.3);
  }
  .navbar-links ul li:hover {
    background-color: #fff;
  }
  .navbar-links li #signUp {
    background-color: #89c3ff;
    border-radius: 10px;
    padding: 6px 20px;
    margin-left: 35px;
    color: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-negative: 0.6;
        flex-shrink: 0.6;
  }
  #login-text {
    color: #0a8754;
    margin-right: 4.5rem;
  }
  #signUp:hover,
  #login-text:hover {
    opacity: 0.3;
  }
}

.block {
  display: block;
}

.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 1;
}

/* Footer */
footer {
  margin-top: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100px;
  width: 100%;
  background-color: #333;
  color: #fff;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

body,
input,
button {
  font-family: "Poppins", sans-serif;
}

.card {
  -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.card {
  -webkit-box-shadow: 0, 0, 0, 0.5;
          box-shadow: 0, 0, 0, 0.5;
}

.photo-grid {
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  gap: 0.5rem;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 150px;
  width: 100%;
}

.photo-grid a {
  background-size: cover;
  background-position: center;
}

main {
  margin: 0 auto;
  margin-top: 50px;
}

main h1 {
  text-align: center;
}

main img {
  max-width: 100%;
}

.card-tall {
  grid-row: span 2 / auto;
}

.card-wide {
  grid-column: span 2 / auto;
}

.grid-container {
  margin: 20px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: repat(3, 1fr);
      grid-template-columns: repat(3, 1fr);
  grid-auto-rows: minmax(240, 640);
  gap: 30px;
}

.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: -webkit-transform ease-in-out 300ms;
  transition: -webkit-transform ease-in-out 300ms;
  transition: transform ease-in-out 300ms;
  transition: transform ease-in-out 300ms, -webkit-transform ease-in-out 300ms;
}

.list h2 {
  width: 80%;
  line-height: 2rem;
  margin: 10px auto;
  margin-bottom: 15px;
}

.list .keterangan {
  margin: 0;
  margin-top: 20px;
  width: 80%;
  font-size: 13px;
  line-height: 1.25rem;
}

.list:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.list p {
  width: 80%;
  font-size: 1rem;
  line-height: 1.5rem;
  margin-top: 0;
  margin-bottom: 40px;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 60px;
}

.pagination ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;
}

.pagination ul li {
  width: 35px;
  height: 35px;
  background-color: #fff;
  color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.25);
          box-shadow: 0 0 2px rgba(0, 0, 0, 0.25);
}

.pagination ul li.active {
  background-color: #000;
}

.pagination ul li.active a {
  color: #fff;
}

.pagination ul li.disabled {
  pointer-events: none;
  cursor: no-drop;
}

.pagination ul li.arrow {
  width: 20px;
}

.pagination ul li a {
  text-align: center;
  width: 100%;
  font-size: 1rem;
  text-decoration: none;
  color: #333;
}

@media screen and (min-width: 600px) {
  .photo-grid {
    -ms-grid-columns: (minmax(240, 1fr))[3];
        grid-template-columns: repeat(3, minmax(240, 1fr));
    grid-auto-rows: 240px;
  }
  .card-tall {
    grid-row: span 2 / auto;
  }
  .card-wide {
    grid-column: span 2 / auto;
  }
  .grid-container {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .grid-container {
    margin: 0 5rem;
  }
}

@media screen and (min-width: 900px) {
  .grid-container {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}
/*# sourceMappingURL=listArticle.css.map */