* {
  margin: 0;
  padding: 0;
}
body,
input,
button {
  font-family: "Poppins", sans-serif;
}
/* Desktop Media */
@media (min-width: 992px) {
}
/* Style untuk Navigasi */
nav {
  display: flex;
  justify-content: space-between;
  height: 60px;
  flex-wrap: wrap;
}
.button {
  background-color: #89c3ff;
  width: 92px;
  border-radius: 10px;
  color: white;
  text-decoration: none;
  padding: 8px 16px;
  margin-bottom: 20px;
}
.title {
  color: #0a8754;
  font-weight: 800;
}

nav a {
  text-decoration: none;
  color: black;
  padding: 6px 20px;
  margin-top: 40px;
  flex-wrap: wrap;
}
nav a:hover,
.button:hover {
  opacity: 0.5;
  /* background-color: black; */
}
nav h1 {
  margin-top: auto;
  font-size: 28px;
  font-weight: bold;
  padding-top: 10px;
}

.nav-link,
.sign-in {
  margin-top: auto;
  margin-bottom: 8px;
}
.button {
  background-color: #51a1f7;
}
/* Akhir dari Nav */

/* Awal dari Banner */
.banner-container {
  width: 1000px;
  height: 100vh;
  margin: 0 auto;
  display: flex;
}
.banner-image {
  background-image: url("./Asset/img/father-teaching-his-son-read-quran_1453-414.jpg");
  z-index: -1;
  width: 70%;
  position: relative;
  right: 50px;
  background-repeat: no-repeat;
}
.title-container {
  position: relative;
  margin-top: 70px;
  left: 50px;
  z-index: 1;
}
.title-container h2 {
  margin-bottom: 200px;
}
/* Akhir Banner */

/* Awal Event */
.event-container {
  width: 100%;
  height: 700px;
  background-color: #eeeded;
  display: block;
  margin: 0 auto;
}
.header-event,
#ket-event {
  text-align: center;
}

.clear {
  width: 100%;
}
.section-container {
  width: 90%;
  height: 500px;
  display: block;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.section-event {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: center;
  align-self: center;
  justify-self: center;
  width: 300px;
  height: 400px;
  background-color: white;
  margin-top: 40px;
  border-radius: 10px;
  box-shadow: 2px 4px rgba(0, 0, 0, 0.2);
  transition: transform 0.4s;
}

.section-event img {
  display: block;
  width: 100%;
  height: 150px;
  border-radius: 10px;
}
.section-event:hover {
  transform: scale(1.1);
}
.section-event h3 {
  margin-left: 20px;
}
.section-event p {
  font-size: 14px;
}
.section-event .button {
  display: block;
  margin-top: 60px;
  margin-left: 120px;
  float: none;
}
.section-container .button {
  display: block;
  margin: 20px auto;
  margin-top: 80px;
  width: max-content;
}
/* Masih bingung styling event nya, belum belajar flex box, mungkin belajar dlu baru bisa */
.button.event {
  margin: 0 auto;
  width: max-content;

  margin-top: 50px;
}
