@import "./font";
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
}
body,
input,
button {
  font-family: "Poppins", sans-serif;
}
.card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.primary-btn {
  padding: 12px 16px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  background-color: #51a1f7;
  color: white;
}
