/* Style Navbar Mobile*/
.navbar {
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.toggle-button {
  display: flex;
  position: absolute;
  top: 1rem;
  left: 1rem;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
  .bar {
    width: 100%;
    height: 3px;
    background-color: $main-text-color;
    border-radius: 10px;
  }
}

.brand-title {
  text-decoration: none;
  color: $main-text-color;
  margin: 0.5rem;
  margin-left: 3.5rem;
  font-size: 28px;
  font-weight: 800;
  color: $main-text-color;
}
.navbar-links {
  background-color: $lightwhite;
  opacity: 0;
  display: none;
  justify-content: space-between;
  align-items: center;
  transition: all ease-in-out 0.5s;
  height: 50vh;
  ul {
    flex-direction: column;
    list-style-type: none;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  li {
    display: flex;
    justify-content: center;
    a,
    button {
      padding: 8px;
      display: flex;
      justify-content: center;
      width: 100%;
      text-decoration: none;
      color: $main-text-color;
      font-size: 1.3rem;
      &:hover {
        opacity: 0.7;
      }
    }
  }
}

@media (min-width: 800px) {
  /* Style Navbar Desktop */
  .navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100px;
    align-items: center;
    max-width: 100%;
  }
  .brand-title {
    margin: 0.5rem;
    margin-left: 2rem;
  }
  .toggle-button {
    display: none;
  }
  .navbar-links {
    display: flex;
    opacity: 1;
    background-color: $bgColor;
    height: 80px;
  }
  .navbar-links ul {
    display: flex;
    flex-direction: row;
    width: 100%;
    min-width: 796px;
    justify-content: center;
    li {
      a {
        font-size: 1.15rem;
        padding: 6px 30px;
        &:hover {
          opacity: 0.7;
        }
      }
    }
  }

  .navbar-links li #signUp {
    background-color: $btnColor;
    border-radius: 10px;
    padding: 6px 12px;
    margin-left: 35px;
    color: $bgColor;
    display: flex;
    flex-shrink: 0.6;
  }

  #login-text {
    color: $main-theme-color;
  }
  #signUp:hover,
  #login-text:hover {
    opacity: 0.3;
  }
}

.block {
  display: block;
}
.active {
  display: flex;
  opacity: 1;
}
/* Footer */

footer {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100%;
  background-color: $main-text-color;
  color: $bgColor;
}
@import "dropdown";
