$main-text-color: #343a40;
$main-theme-color: #279863;
$bgColor: #fff;
$btnColor: #51a1f7;
$activeColor: #2181e7;
$btnFalseClor: rgb(255, 119, 119);
$btnDanger: #dc3545;
$lightgray: #dee2e6;
$darkergray: #6c757d;
$darkgray: #909090;
$lightwhite: #f4f6f9;
$attention: #ffc107;
$success: #28a745;
