@import "variabel";
@import "base";
@import "navbar";
@import "dropdown";
.picture {
  margin-top: 50px;
  width: 100%;
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  button {
    background-color: white;
    border: none;
    color: black;
    padding: 0;
    width: max-content;
    height: 56px;
    font-size: 3.5rem;
    outline: 0;
  }
  h2 {
    margin: 0 auto 3rem;
  }
  .line {
    position: absolute;
    background-color: $main-theme-color;
    height: 5px;
    top: 40%;
    width: 100%;
    z-index: 1;
  }
  img {
    min-width: 20%;
    max-width: 300px;
    clip-path: circle(40%);
    z-index: 10;
  }
}

/* Dropdown Button */
.dropbtn {
  background-color: #4caf50;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}
a {
  text-decoration: none;
}
.userinfo {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  .contain {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    width: 90%;
    border-bottom: 2px solid rgba($color: #000000, $alpha: 0.5);
    p {
      display: flex;
      width: 100%;
      margin: 5px;
      margin-left: 56px;
      font-size: 14px;
    }
    .info {
      display: flex;
      font-size: 1.2rem;
      font-weight: bold;
      margin-top: none !important;
    }
    .field {
      margin-top: 20px;
    }
  }
}
@media (min-width: 768px) {
  .dropdown {
    right: 15%;
  }
  .userinfo {
    width: 60%;
  }
  .dropdown-content {
    left: 10%;
  }
}
a.modal-btn {
  border: none;
  width: 120px;
  box-sizing: border-box;
  height: 44px;
  border-radius: 10px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  &.tidak {
    background-color: rgb(255, 119, 119);
  }
  &.ya {
    background-color: $btnColor;
  }
}
